.Rproj.user
inst/doc
/doc/
/qc_outputs/
/tests/testthat/qc_outputs/
*.log
*.txt
/*.rds
.Rhistory
dev.R
package_combined.txt
/Meta/
/benchmarking/*
!/benchmarking/BENCHMARK_RESULTS.md
.lintr
scQCenrich.code-workspace
/test_qc_out/
/test_qc_out_loom/
/test_qc_out_std/
/*.png
/*.pdf
/*.csv
docs
/README.html
